* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Finger Paint", cursive;
}

.flexContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 245, 219, 0.939);
}
.board {
  height: 80%;
  width: 80%;
  display: grid;
  background-color: white;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  min-width: 300px;
  min-height: 300px;
  width: 60vw;
  height: 60vw;
  max-width: 600px;
  max-height: 600px;
}

.title {
  display: flex;
  justify-content: center;
}

.buttons {
  margin: 10px 0;
}

button {
  padding: 0.5em 0.3em;
  background-color: antiquewhite;
  margin: 0 0 0.3em 0.3em 0;
  /* border-radius: 2em; */
  text-decoration: none;
  font-weight: 600px;
  text-align: center;
}

button:hover {
  cursor: pointer;
}

input {
  width: 150px;
  height: 27px;
}

.active {
  border: 1px black solid;
}

.error {
  display: none;
}
